@import url("https://fonts.googleapis.com/css2?family=Liter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Liter", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#container {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* overflow: hidden; */
  /* border: 2px solid white; */
}

#sidebar {
  height: 100vh;
  width: 150px;
  border-right: 1px solid rgba(128, 128, 128, 0.388);
  transition: all 300ms ease-in-out;
}

#sidebar.sidebar-toggle {
  width: 25%;
}

#logo-div {
  height: 80px;
  width: 150px;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 45px;
  /* border: 1px solid white; */
  /* display: none; */
}
.logo {
  height: 60px;
  width: 60px;
  /* border: 1px solid white; */
}
#resize-btn {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid black;
}

#resize-btn:hover {
  cursor: pointer;
  background-color: rgb(32, 32, 32);
}

#logo-div.logo-div-toggle {
  width: 273px;
  display: flex;
  justify-content: space-around;
}

#nav-div {
  height: calc(100% - 160px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  /* border: 1px solid slateblue; */
}

#more-div {
  height: 80px;
  width: 100%;
  /* border: 1px solid seagreen; */
}

.nav-icons-box {
  height: 20px;
  width: 20px;
  /* display: none; */
  /* border: 1px solid white; */
}

.nav-icons {
  height: 100%;
  width: 100%;
  filter: invert(100%);
}

.nav-titles {
  height: 25px;
  width: 80px;
  display: flex;
  padding-left: 8px;
  font-weight: 600;
  color: white;
  display: none;
  /* border: 1px solid white; */
}

.nav-titles-toggle {
  display: flex;
}

#sidebar.sidebar-toggle {
  width: 25%;
}

.nav-btns {
  width: max-content;
  /* max-width: 10em; */
  position: relative;
  height: 2.5em;
  border: 3px ridge #149cea;
  outline: none;
  background-color: transparent;
  color: black;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0px 10px;
  /* padding-left: 20px; */
  /* transition: all 2s ease-in-out; */
}

.nav-btns::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: black;
  transition: 0.5s;
  transform-origin: center;
}

.nav-btns::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: black;
  transition: 0.5s;
}

.nav-btns:hover::before,
.nav-btns:hover::after {
  transform: scale(0);
}

.nav-btns:hover {
  box-shadow: inset 0px 0px 25px #1479ea;
}

#home-page1 {
  height: 100vh;
  width: 730px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid white;
  overflow-y: scroll ;
  scrollbar-width: none;
}

#home-page2 {
  height: 100px;
  width: 200px;
  border: 1px solid red;
}

#home-page1.home-page1-toggle {
  width: min(100%,calc(100% - 150px)); /* Ensures it never exceeds viewport width */
  overflow-x: hidden; /* Prevents extra scrollbars */
}

#home-page2.home-page2-toggle {
  display: none;
}

#home-story {
  height: 110px;
  width: 90%;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
  border: 1px solid white;
}

.story-box {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  flex-shrink: 0;
}

.story-image-box {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(194, 4, 112);
}

.story-image-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.story-id {
  height: 20px;
  width: 80px;
  color: white;
  font-size: 10px;
  padding-top: 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid wheat;
}

#home-nav {
  height: 30px;
  width: 90%;
  padding-left: 10px;
  /* padding-top: 5px; */
  border: 1px solid red;
}

.home-nav-btns {
  height: 30px;
  width: 100px;
  margin-left: 10px;
  border-radius: 6px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.home-nav-btns:hover {
  background-color: rgb(32, 32, 32);
}

#post {
  height: 800px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
  border: 1px solid white;
}

#person-pp-div {
  height: 50px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
}

#person-info{
    height: 50px;
    width: 250px;
    display: flex;
    gap: 10px;
    border: 1px solid white;
}
#pp{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgb(194, 4, 112);
}

#pp img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#name{
    height: 45px;
    flex: 1;
    display: flex;
    align-items: center;
    color: white;
    border: 1px solid white;
}

#more-options{
    height: 25px;
    width: 25px;
    margin-top: 10px;
    border: 1px solid white;
}

#more-options img{
    height: 90%;
    width: 90%;
    filter: invert(100%);
    rotate: 90deg;
}

#post-media{
    height: 400px;
    width: 90%;
    border: 1px solid red;
}

#engagements{
    height: 20px;
    width: 90%;
    border: 1px solid white;
}